*.php linguist-detectable=false
*.go linguist-detectable=false
*.ts linguist-detectable=false
*.js linguist-detectable=false
*.py linguist-detectable=false
*.rb linguist-detectable=false
*.java linguist-detectable=false
*.kt linguist-detectable=false
*.rs linguist-detectable=false
*.c linguist-detectable=false
*.cpp linguist-detectable=false
*.cs linguist-detectable=false
*.m linguist-detectable=false
*.h linguist-detectable=false
*.lua linguist-detectable=false
*.pl linguist-detectable=false
*.r linguist-detectable=false
*.scala linguist-detectable=false
*.zig linguist-detectable=false
*.dart linguist-detectable=false
*.ex linguist-detectable=false
*.exs linguist-detectable=false
*.hs linguist-detectable=false
*.clj linguist-detectable=false
